<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/sipnr</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
    <mapping class="com.alfazid.siasd.model.entity.EkskulEntity"/>
    <mapping class="com.alfazid.siasd.model.entity.GuruEntity"/>
    <mapping class="com.alfazid.siasd.model.entity.KelasEntity"/>
    <mapping class="com.alfazid.siasd.model.entity.KelasSiswaEntity"/>
    <mapping class="com.alfazid.siasd.model.entity.MapelEntity"/>
    <mapping class="com.alfazid.siasd.model.entity.MengajarEntity"/>
    <mapping class="com.alfazid.siasd.model.entity.NilaiEkskulEntity"/>
    <mapping class="com.alfazid.siasd.model.entity.NilaiMapelEntity"/>
    <mapping class="com.alfazid.siasd.model.entity.SiswaEntity"/>
    <mapping class="com.alfazid.siasd.model.entity.WaliKelasEntity"/>
    <mapping class="com.alfazid.siasd.model.entity.BahasaIbu"/>
    <mapping class="com.alfazid.siasd.model.entity.DesaEntity"/>
    <mapping class="com.alfazid.siasd.model.entity.GlobalEntity"/>
    <mapping class="com.alfazid.siasd.model.entity.KabupatenEntity"/>
    <mapping class="com.alfazid.siasd.model.entity.KecamatanEntity"/>
    <mapping class="com.alfazid.siasd.model.entity.PekerjaanEntity"/>
    <mapping class="com.alfazid.siasd.model.entity.ProvinsiEntity"/>
    <mapping class="com.alfazid.siasd.model.entity.SekolahEntity"/>
    <mapping class="com.alfazid.siasd.model.entity.GuruEntity"/>
  </session-factory>
</hibernate-configuration>