<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<body>
<div class="container-fluid" layout:fragment="content">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h2>Data Sekolah</h2>

                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="mr-2">
                        <select class="form-control form-control-sm" id="by" name="by">
                            <option th:value="All">All</option>
                            <option th:value="Nama">Nama Sekolah</option>
                            <option th:value="Alamat">Alamat Sekolah</option>
                            <option th:value="Telp">Telepon</option>
                            <option th:value="Active">Active</option>
                        </select>
                    </div>
                    <div class="btn-group mr-2">
                        <input type="text" placeholder="Masukan nilai parameter" name="search" id="search" onsubmit="onSearch()"
                               class="form-control input-sm form-control-sm" onpr/>
                        <button class="btn btn-sm btn-secondary" onclick="onSearch()">Cari</button>
                    </div>
                    <a class="btn btn-sm btn-secondary" href="/sekolah/create">
                        Tambah Data
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-sm table-hover">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Kode</th>
                        <th>Nama Sekolah</th>
                        <th>Tipe</th>
                        <th>Alamat Sekolah</th>
                        <th>No Telepon</th>
                        <th>Active</th>
                        <th style="text-align: center">#</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="sekolahs,iter : ${page.content}">
                        <td th:text="${(page.number) * page.size + iter.index + 1}"></td>
                        <td th:text="${sekolahs.kodeSekolah}"></td>
                        <td th:text="${sekolahs.namaSekolah}"></td>
                        <td th:text="${sekolahs.tipeSekolah}"></td>
                        <td th:text="${sekolahs.alamat}"></td>
                        <td th:text="${sekolahs.telepon}"></td>
                        <td style="width: 50px;text-align: center" th:text="${sekolahs.active}"></td>
                        <td style="width: 50px;">
                            <a th:href="@{/sekolah/{id}(id=${sekolahs.idSekolah})}" style="padding: 3px;"><span
                                    class="fa fa-pencil"></span></a>
                            <a th:href="@{/sekolah/delete/{id}(id=${sekolahs.idSekolah})}" style="padding: 3px;"><span
                                    class="fa fa-trash"></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-6">
                    <input type="hidden" th:value="${page.number}" id="txtCurrent"/>

                    <div class="form-group row">
                        <label class="hidden-xs col-sm-3 col-form-label" for="size">Records :</label>

                        <div class="col-sm-2">
                            <select class="form-control form-control-sm" th:onchange="|onRefresh()|" id="size"
                                    name="size">
                                <option th:value="5" th:text="5" th:selected="${page.size == 5}"></option>
                                <option th:value="10" th:text="10" th:selected="${page.size == 10}"></option>
                                <option th:value="50" th:text="50" th:selected="${page.size == 50}"></option>
                                <option th:value="500" th:text="500" th:selected="${page.size == 500}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <script>
                    function onRefresh() {
                        var page = document.getElementById("size").value;
                        var txtCurrent = document.getElementById("txtCurrent").value;
                        window.location = "/sekolah?page=" + txtCurrent + "&size=" + page;
                    }
                    function onSearch() {
                        var page = document.getElementById("size").value;
                        var txtCurrent = document.getElementById("txtCurrent").value;
                        var search = document.getElementById("search").value;
                        var by = document.getElementById("by").value;
                        if (search =="") {
                            window.location = "/sekolah/";
                        }else{
                            window.location = "/sekolah/" + by + "/" + search + "?page=" + txtCurrent + "&size=" + page;
                        }
                    }
                </script>
                <div class="col-xs-6 col-sm-6">
                    <nav aria-label="Navigation for countries" style="float: right;">
                        <ul class="pagination">
                            <th:if test="${page.hasPrevious() !=0}">
                                <li class="page-item">
                                    <a class="page-link" th:href="@{/sekolah(page=${page.number - 1},size=${page.size})}">Prev</a>
                                </li>
                            </th:if>

                            <li class="page-item">
                                <label class="page-link">
                                    <span th:text="${page.number +1}"></span> / <span
                                        th:text="${page.totalPages}"></span>
                                </label>
                            </li>
                            <th:if test="${page.number < page.totalPages}">
                                <li class="page-item">
                                    <a class="page-link" th:href="@{/sekolah(page=${page.number + 1},size=${page.size})}">Next</a>
                                </li>
                            </th:if>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>
    </div>
</div>
</body>