<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<body>
<div class="container-fluid" layout:fragment="content">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h2>Master Guru <span th:text="${mode}"></span></h2>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                <form action="#" th:action="@{/guru/}" th:object="${guruEntity}" method="POST">
                    <div class="form-group row has-success">
                        <label class="control-label col-sm-3" for="nip">Nip</label>

                        <div class="col-sm-6">
                            <input class="form-control form-control-sm" th:field="*{nip}" type="text" id="nip"
                                   name="nip" placeholder="Masukan NIP guru" required>
                            <span th:if="${#fields.hasErrors('nip')}" th:errors="*{nip}" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row has-success">
                        <label class="control-label col-sm-3" for="namaGuru">Nama Guru</label>
                        <div class="col-sm-6">
                            <input class="form-control form-control-sm" type="text" th:field="*{namaGuru}" id="namaGuru"
                                   name="namaGuru" placeholder="Masukan nama guru" required>
                            <span th:if="${#fields.hasErrors('namaGuru')}" th:errors="*{namaGuru}"
                                  class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row has-success">
                        <label class="control-label col-sm-3" for="jenisKelamin">Jenis Kelamin</label>

                        <div class="col-sm-6">
                            <select class="form-control form-control-sm" id="jenisKelamin" th:field="*{jenisKelamin}"
                                    name="jenisKelamin">
                                <option th:value="Pria">Pria</option>
                                <option th:value="Wanita">Wanita</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row has-success">
                        <label class="control-label col-sm-3" for="alamat">Alamat</label>

                        <div class="col-sm-6">
                            <textarea class="form-control form-control-sm" th:field="*{alamat}" id="alamat"
                                      name="alamat" placeholder="Masukan alamat lengkap" rows="3" required></textarea>
                            <span th:if="${#fields.hasErrors('alamat')}" th:errors="*{alamat}"
                                  class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row has-success">
                        <label class="control-label col-sm-3" for="telepon">Telepon</label>

                        <div class="col-sm-6">
                            <input class="form-control form-control-sm" type="text" th:field="*{telepon}" id="telepon"
                                   name="telepon" placeholder="08xxxxxxxxxx" required>
                            <span th:if="${#fields.hasErrors('telepon')}" th:errors="*{telepon}"
                                  class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row has-success">
                        <label class="control-label col-sm-3" for="email">Email</label>

                        <div class="col-sm-6">
                            <input class="form-control form-control-sm" type="email" th:field="*{email}" id="email"
                                   name="email" placeholder="xxxxxx@xxxx">
                        </div>
                    </div>
                    <div class="form-group row has-success">
                        <label class="control-label col-sm-3" for="active">Active</label>

                        <div class="col-sm-6">
                            <select class="form-control form-control-sm" th:field="*{active}" id="active" name="active">
                                <option th:value="Y">Ya</option>
                                <option th:value="N">Tidak</option>
                            </select>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-sm-6" style="float: right;">
                            <a class="btn btn-sm btn-secondary" href="/guru/">
                                Batal
                            </a>
                            <input type="submit" class="btn btn-secondary btn-sm" value="Simpan" id="btnSimpan"/>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>
</body>
</html>